/*
**
**  Set up some objects containing our bounds
*/

$warning: (
  hue: (45, 55),
  sat: (70, 90),
  light: (90, 100)
);

$error: (
  hue: (340, 15),
  sat: (70, 90),
  light: (80, 100)
);

$success: (
  hue: (75, 155),
  sat: (60, 80),
  light: (70, 85)
);

/*
**
** Function returning an end value that will always be
** higher than the start value, so that we can modulate
** on a linear range.
*/
@function absoluteEnd($start, $end) {
  @if $start > $end {
    @return $end + 360;
  } @else {
    @return $end;
  }
}

/*
**
** Function returning a value that will always be
** between 0 and 360 so that we can plot a point on
** the color wheel.
*/
@function degValue($val) {
  @if $val > 360 {
    @return $val - 360;
  } @else {
    @return $val;
  }
}


@function absoluteEnd($start, $end) {
  @if $start > $end {
    @return $end + 360;
  } @else {
    @return $end;
  }
}


/*
**
**  Function to figure out if our value falls
**  between our bounds
*/
@function isBetween($val, $start, $end) {
  $absoluteEnd: absoluteEnd($start, $end);
  $absoluteVal: $val;

  @if $absoluteEnd > 360 and $val < $start {
    $absoluteVal: $val + 360;
  }

  @if $absoluteVal > $start and $absoluteVal < $absoluteEnd {
    @return true;
  } @else {
    @return false;
  }
}

/*
**
**  The main function that will be used by the developer
*/
@function alert-color($type, $brand-color) {

  $color-values: (
    hue: hue($brand-color),
    sat: saturation($brand-color),
    light: lightness($brand-color)
  );

  // Should eventually be able to loop through this rather than manually
  // creating if statement, but this should suffice for now
  @if $type == 'warning' {
    // Loop over the map, checking each pair to see if our val falls inside
    @each $key, $val in $warning {
      @debug 'our colour value: ' + map-get($color-values, $key);
      @debug 'key: ' + $key;
      @debug 'val: ' + $val;
      @if isBetween( map-get($color-values, $key), nth($val, 1), nth($val, 2) ) {
      // @if isBetween( 10, 340, 20 ) {
        @warn 'IS IN BOUNDS';
        // @return 'blue';
      } @else {
        @warn 'IS NOT IN BOUNDS';
      }
    }




    @return yellow;
  } @elseif $type == 'error' {
    @return red;
  } @elseif $type == 'success' {
    @return green;
  }

}
