/*
**
** Set up map that contains our bounds
*/
$feedback-types: (
  warning: (
    hue: (45, 55),
    sat: (70, 90),
    light: (90, 100)
  ),
  error: (
    hue: (340, 15),
    sat: (70, 90),
    light: (80, 100)
  ),
  success: (
    hue: (75, 155),
    sat: (60, 80),
    light: (70, 85)
  )
);

/*
**
** Function returning an end value that will always be
** higher than the start value, so that we can modulate
** on a linear range.
*/
@function absolute-end($start, $end) {
  @if $start > $end {
    @return $end + 360;
  } @else {
    @return $end;
  }
}

/*
**
** Function returning a value that will always be
** between 0 and 360 so that we can plot a point on
** the color wheel.
*/
@function deg-value($val) {
  @if $val > 360 {
    @return $val - 360;
  } @else {
    @return $val;
  }
}

/*
**
** Function to figure out if our value falls
** between our bounds
*/
@function is-between($val, $start, $end) {
  $absolute-end: absolute-end($start, $end);
  $absolute-val: $val;

  @if $absolute-end > 360 and $val < $start {
    $absolute-val: $val + 360;
  }

  @if $absolute-val > $start and $absolute-val < $absolute-end {
    @return true;
  } @else {
    @return false;
  }
}

/*
**
** Translate a number on a scale to its point between two values on a different scale
*/
@function modulate-value($val, $to-range, $type) {
  $from-range: (0, 100);
  @if $type == 'hue' { $from-range: (0, 360); }

  $from-low: nth($from-range, 1);
  $from-high: nth($from-range, 2);
  $to-low: nth($to-range, 1);
  $to-high: nth($to-range, 2);
  $result: $to-low + ((($val - $from-low) / ($from-high - $from-low)) * ($to-high - $to-low));

  @debug
  '\A
  val:      #{$val}
  from:     #{$from-range}
  to:       #{$to-range}
  result:   #{$result}
  ';

  @return $result;
}

/*
**
** Function that will be used by the developer
*/
@function alert-color($base-color, $feedback-type: 'warning') {

  // Check we have a valid $feedback-type or throw an error
  @if $feedback-type != 'error' and
      $feedback-type != 'success' and
      $feedback-type != 'warning' {
    @error "Second argument must be 'error', 'warning', or 'success'";
  }

  // Store the color attributes of the passed in color
  $color-values: (
    hue: hue($base-color),
    sat: saturation($base-color),
    light: lightness($base-color)
  );

  // We'll merge in key/value pairs as we loop through hue/sat/light
  // and the values from $color-feedback is what we return at the end
  $color-feedback: ();

  @each $kind, $data in $feedback-types {
    @if $kind == $feedback-type {
      @each $type, $range in $data {

        $value: map-get($color-values, $type);
        $start: nth($range, 1);
        $end: nth($range, 2);

        // If the value falls within our desired range
        // we merge the existing value
        @if is-between( $value, $start, $end ) {
          $color-feedback: map-merge($color-feedback, (
            $type: map-get($color-values, $type)
          ));

        // If it doesn't fall within our range we need
        // to modify the value before merging it
        } @else {
          $color-feedback: map-merge($color-feedback, (
            $type: modulate-value($value, $range, $type)
          ));
        }

      }
    }
  }

  @return hsl(
    map-get($color-feedback, 'hue'),
    map-get($color-feedback, 'sat'),
    map-get($color-feedback, 'light')
  );

}
