extends partials/base

block content
  each color, index in colors
    section(class="section section--" + index)
      each type in ['brand', 'warning', 'error', 'success']
        div(class="swatch swatch--" + type)
          div.space
