@import 'functions/feedback-color';
@import '../../dist/data.json';

$space: 1vw;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1vw;
}

.section {
  display: flex;
  border: 1px solid darken(white, 10%);
  padding: $space;
  width: 40vw;
  margin: 1.5vw 0;
}

.swatch {
  width: 25%;
  background: darken(white, 5%);
  margin: $space;

  &:first-of-type {
    margin-right: $space * 4;
  }
}

.space {
  padding-top: 100%;
}

$count: 0;
@each $color in $colors {
  .section--#{$count} {
    .swatch--brand { background-color: $color; }
    .swatch--warning { background-color: feedback-color($color, 'warning'); }
    .swatch--error { background-color: feedback-color($color, 'error'); }
    .swatch--success { background-color: feedback-color($color, 'success'); }
  }
  $count: $count + 1;
}
